<!-- Copyright 2019 LinkedIn Corporation -->
<!-- All Rights Reserved. -->
<!-- -->
<!-- Licensed under the BSD 2-Clause License (the "License").  See License in the project root -->
<!-- for license information. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.linkedin.android.tachyon.sample">

    <application
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TachyonSample">

        <activity
            android:name=".SampleActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>